<!DOCTYPE html>
<html>
  <body>
    <div>
      <span>Oi, {{name}}</span>
      <br />

      <span>Você solicitou alteração de senha.</span>
      <span>Para realizar a troca, clique no link 
        <a href={{link}}>{{link}}</a></span>

        <span>Caso não tenha sido você, desconsidere esse email.</span>
    </div>
  </body>
</html>
